<div class="footer">
    
    <div class="row">
        <div class="col-sm-6">

            <address>
                OŠ"Pavle Savić"<br>
                Koste Nadja 25, Beograd
            </address>
            <a href="">zvezdaracmalacgenijalac@gmail.com</a><br><br>
            <a href="tel:063468894" style="font-size: 25px;">(+381)063/468894</a><br><br>
            <a href="https://www.facebook.com/Malaczvezdarac"
                style="font-size: 25px; border:1px solid white; padding:2%;" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/malacgenijalaczvezdarac/"
                style="font-size: 25px; border:1px solid white; padding:2%;" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/watch?v=9mXiWsivkjw"
                style="font-size: 25px; border:1px solid white; padding:1%;">
                <i class="fa fa-youtube-play"></i></a><br><br>
            <footer>&copy; Copyright 2021 MalacGenijalacZvezdarac</footer>

        </div>


        <div class="col-md-6 p-2">

            <div class="mapouter mx-auto">
                <div class="gmap_canvas">
                    <iframe width="300" height="300" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=os%20pavle%20savic&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://123movies-a.com"></a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 300px;
                            width: 300px;
                        }
                    </style>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 300px;
                            width: 300px;
                        }
                    </style>
                </div>
            </div>
        </div>


    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="main.js">    </script>
<script src="games.js"></script>


</body>

</html>