
<div class="top">
    <p class="ml12  d-none d-md-block  " style="float:left; margin-top: 15px; color: white; margin-left: 1%;">
        RAZVOJ INTELEKTUALNIH SPOSOBNOSTI DECE OD 4 DO 12 GODINA </p>



    <a href="kontakt" style="border:none;">zvezdaracmalacgenijalac@gmail.com</a>
    <a href="https://www.facebook.com/Malaczvezdarac" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/malacgenijalaczvezdarac/" class="fa fa-instagram"></a>
    <a href="https://www.youtube.com/watch?v=9mXiWsivkjw"   class="fa fa-youtube-play"></i></a>
</div>
<div class="hero-image">

    <div class="hero-text">

        <h3>Malac Genijalac Zvezdarac</h3>
        <h3>OŠ"PAVLE SAVIĆ" </h3>
        <h2> MIRIJEVO</h2>

        <a style="color: white; border:1px solid white;" class="btn  p-2 m-3">Škola mentalne aritmetike za decu</a>

       <a href="/kontakt"><h5 style="margin-top: 20px;"># UPIS U TOKU - POŠALJITE PORUKU</h5></a>
    </div>
    <img src="images/malacgenijalac.jpg" width="17%"  alt="">

</div>


 <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a href="tel:+38163468894" style="font-size: 1.5em; color:white; margin-top: 1%;">
                <i class='fas fa-phone' style='font-size:17px; color:white;'></i>(+381)063/468894</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
                <i class="fa fa-bars" class="navbar-toggler-icon"></i>
               </button>
            <div class="collapse navbar-collapse text-center" id="mynav" >
                <ul class="navbar-nav" style="background-color: #3366cc;">
                    <!--li class="dropup">
                        <a class="btn dropdown-toggle usluga" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='fas fa-map-marker-alt'></i> LOKACIJA
                        </a>
        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="lokacije">Osnovna Škola "Pavle Savić", Mirijevo</a>                        
                        </div>
                    </li-->
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">NASLOVNA </a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/o_nama">O NAMA </a>
                    </li>
                    <li class="nav-item kviz">
                        <a class="nav-link text-white " href="/upis">UPIS </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/kontakt">KONTAKT  </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>