<div class="top">
    <p class="ml12  d-none d-md-block  " style="float:left; margin-top: 15px; color: white; margin-left: 1%;">
        RAZVOJ INTELEKTUALNIH SPOSOBNOSTI DECE OD 4 DO 12 GODINA </p>



    <a href="kontakt" style="border:none;">zvezdaracmalacgenijalac@gmail.com</a>
    <a href="https://www.facebook.com/Malaczvezdarac" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/malacgenijalaczvezdarac/" class="fa fa-instagram"></a>
    <a href="https://www.youtube.com/watch?v=9mXiWsivkjw" class="fa fa-youtube-play"></i></a>
</div>
<div class="hero-image">

    <div class="hero-text">

        <h3>Malac Genijalac Zvezdarac</h3>
        <h3>OŠ"PAVLE SAVIĆ" </h3>
        <h2> MIRIJEVO</h2>

        <a style="color: white; border:1px solid white;" class="btn  p-2 m-3">Škola mentalne aritmetike za decu</a>

        <a href="/kontakt">
            <h5 style="margin-top: 20px;"># UPIS U TOKU - POŠALJITE PORUKU</h5>
        </a>
    </div>

</div>


<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a href="tel:+38163468894" style="font-size: 1.5em; color:white; margin-top: 1%;">
            <i class='fas fa-phone' style='font-size:17px; color:white;'></i>(+381)063/468894</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
            <i class="fa fa-bars" class="navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse text-center" id="mynav">
            <ul class="navbar-nav" style="background-color: #3366cc;">
                <!--li class="dropup">
                        <a class="btn dropdown-toggle usluga" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='fas fa-map-marker-alt'></i> LOKACIJA
                        </a>
        
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="lokacije">Osnovna Škola "Pavle Savić", Mirijevo</a>                        
                        </div>
                    </li-->
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">NASLOVNA </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="/o_nama">O NAMA </a>
                </li>
                <li class="nav-item kviz">
                    <a class="nav-link text-white " href="/upis">UPIS </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/kontakt">KONTAKT </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="">
    <img src="images/malac_slika.png" class="center" alt="">
    <div class="aritmetika">
        <h1> ŠTA JE MENTALNA ARITMETIKA?</h1>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <p style="padding: 4%;"><b> Mentalna aritmetika </b> je sposobnost brzog i tačnog računanja
                bez korištenja olovke i papira ili drugog pomagala.
                Program mentalne aritmetike je namenjen intelektualnom razvoju dece,
                a nastao kao rezultat dugogodišnjeg rada psihologa, pedagoga i drugih stručnjaka iz oblasti edukacije.
                Zasniva se na upotrebi drevne računaljke abakus
                (jap. Soroban) čijom vizuelizacijom se postiže izvanredno brzo računanje. <br> <br>
                Međutim brzo računanje je samo sredstvo kojim se postižu važniji ciljevi – optimalan intelektualni
                razvoj.
                Brzino računanje, je samo pokazatelj da su se razvile važne kognitivne sposobnosti : <b>
                    koncentracija, vizuelizacija, pažnja, memorija, analitičko razmišljanje i logika.</b>
                Razvoj ovih sposobnosti je najvažniji cilj mentalne aritmetike,
                jer donosi vašem detetu trajne koristi i veštine koje su mu neophodne u životu.
            </p>
            <img src="images/malac_genijalac_upis.jpg" width="90%" class="border m-auto" alt="">
        </div>
        <div class="col-lg-4 box2">
            <h3>Kako da budem siguran da sam odabrao pravu školu mentalne aritmetike za svoje dete?
            </h3>
            <ul style="padding:3%;">
                <li>Škola mentalne aritmetike “ MALAC GENIJALAC ” je škola EVROPSKIH ŠAMPIONA</li>
                <li>Škola radi po jedinstvenoj JAPANSKOJ METODI</li>
                <li>Prvi rezultati mentalnog računanja kod naših učenika VIDLJIVI SU VEĆ NAKON DVA MESECA.
                    U drugim programima deca ne postižu se ni približni rezultati
                </li>
                <li>Zahvaljujući licenciranom programu,
                    učenicima je omogućeno učešće na prestižnim evropskim takmičenjima i OLIMPIJADAMA</li>
                <li>Nastava se održava u malim grupama,
                    kako bi svakom detetu bio obezbeđen INDIVIDUALNI PRISTUP i maksimalan napredak u razvoju</li>
                <li>Osnovni fond obuhvata 12 časova mesečno – jednom sedmično, tri školska časa vezano.
                    U zavisnosti od individualnih potreba deteta, dostiže se i do 20 časova, koje NE NAPLAĆUJEMO
                    DODATNO.</li>
                <li>Prednost našeg programa je u jedinstvenoj WEB PLATFORMI. Koristeći platformu,
                    deca mogu uvežbati svoje mentalne kapacitete,
                    takmičeći se u brzom računanju sa drugarima iz čitavog sveta!</li>
                <li>Po završetku školovanja, deci je omogućen BESPLATAN NASTAVAK UČENJA i uvežbavanja mentalne
                    aritmetike,
                    sve do sticanja MASTER DIPLOME.</li>
                <li>Časovi su kreativno osmišljeni, tako da deca uče kroz IGRU i ZABAVU</li>
                <li>Efekat postignut učenjem mentalne aritmetike postaje trajno oružje i verni pratilac naših Malaca
                    kroz ČITAV ŽIVOT</li>
            </ul>
        </div>
    </div>
    <div class="store">
        <h4 class="text-center font-weight-bold mt-5"> Kako mentalna aritmetika utiče na razvoj?</h4>
        <p style="padding: 3%;">Pored poboljšanja matematičkih sposobnosti, program pozitivno utiče na razvoj
            razmišljanja
            i podstiče niz važnih veština i sposobnosti. Poboljšava se način na koji dete sluša,
            obrađuje i razumeva informacije; zamišlja i stvara određene predstave; prepoznaje detalje;
            obavlja radnje i rešava probleme. Programom se podstiče aktivacija obe moždane hemisfere,
            naročito razvijajući koncentraciju i pažnju, brzo računanje, odličnu memoriju, fotografsko pamćenje,
            analitičko i logičko razmišljenje, kreativnost, maštu i sposobnost vizuelizacije.</p>
        <h4 class="text-center font-weight-bold mt-5"> Kome je namenjen program? </h4>
        <p style="padding: 3%;">Program je namenjen deci od 4 do 14 godina,
            jer je to period života u kojem se ljudski mozak najdinamičnije razvija i
            tokom kojeg će nastati najveći broj neuronskih veza (sinapsi).
            Nakon ovog perioda mogućnosti za razvoj su značajno manje.
            Zato je izuzetno važno da roditelji iskoriste jedinstvenu šansu u životu deteta,
            obezbedjujući mu postizanje punog intelektualnog razvoja.</p>
    </div>


</div>
</div>

<div class="img-container">
    <img src="images/malac_slika.png" class="center" alt="">
    <div class="hikari">
        <h1> HIKARI PROGRAM</h1>
    </div>
    <p style="padding:2%">Škola <b> Malac Genijalac </b>primenjuje originalni <b> HIKARI 光 </b>program Mentalne
        aritmetike.
        Hikari na japanskom znači svetlost
        i simbolizuje proces učenja i buđenja (osvetljavanja) mentalnih kapaciteta.
        Nastao je kao rezultat dugogodišnjeg rada psihologa,
        pedagoga i drugih stručnjaka iz oblasti edukacije i obrazovanja,
        a zasniva se na upotrebi drevne računaljke abakus<b> (算盤 jap. Soroban).</b></p>
    <hr>
    <h2 class="text-center p-3">Na čemu se zasniva program?</h2>
    <div class="row p-3">
        <div class="col-lg-8 mt-5">
            <p>
                Program se temelji na <b>TBDP pristupu</b>
                (Total Brain Development Program) i<b> VAK metodi</b> (Vizuelno Auditivno Kinestetičko). <br> <br>
                <b> TBDP (Total Brain Development Program)</b> je sistem celokupnog moždanog razvoja,
                podsticanjem aktivacije obe moždane hemisfere u ranim fazama života. <br> <br>
                <b> VAK metoda </b>(Vizuelno – Auditivno – Kinestetička)
                predstavlja uključivanje tri čula (vid, sluh, dodir) u proces učenja.
                Ova tehnika mogla bi se opisati i kao vidim – čujem – osećam.
                Istraživanja su pokazala da se najbolji rezultati postižu,
                kada se u procesu učenja informacije primaju putem različitih čula,
                čime se aktivira najveći broj neuronskih veza u mozgu.
                Takvim učenjem proces pamćenja dostiže maksimum jer se primljene informacije prenose sa jedne na drugu
                hemisferu mozga aktivirajući celokupan moždani potencijal.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="images/hikari.jpg" width="100%" alt="">
        </div>
    </div>
    <div>
        <p class="definicija">
            Program je fleksibilno i pažljivo osmišljen uzimajući u obzir individualne potrebe svakog deteta.
            Učenje se praktikuje u malim grupama, kroz zabavne aktivnosti, različite igre i takmičenja,
            pri čemu je najvažnija opuštajuća i kreativna atmosfera i pozitivni emocionalni odnosi.
            Mentalni razvoj se postiže na zabavan i razigran način, radom zasnovanim na tri ključne stvari:
            računanje abakusom, mentalna aritmetika i didaktičke igre.</p>
    </div>
<div class="container">
    <h3 class="text-center"> FAZE PROGRAMA:</h3>
    <hr style="border-bottom: 1px solid red;">
    <h4 class="text-center ">Pripremna faza – POJAM I KOMPLEMENTI BROJEVA OD 1 DO 100</h4>
    <p style="padding:4%;"> <b> Početna faza</b> se primenjuje za najmlađe polaznike.
        Cilj je da se upoznaju sa pojmom broja
        i nauče zakonitosti koje važe za brojeve od 1 do 100 (komplementarnost brojeva).
        U ovom period deca još uvek ne koriste abakus,
        već klasičnu školsku računaljku (10 nizova sa po 10 kuglica).</p>
    <h4 class="text-center">Prva faza – UPOTREBA SOROBANA (ABAKUSA)</h4>
    <p style="padding:4%;"> <b>Abakus faza</b>  traje tokom početnih nivoa, na kojima se upotrebljava računaljka abakus.
        Računanje se sprovodi pomeranjem kuglica, pomoću prstiju leve i desne ruke.
        Težište je na finoj motorici i intenzivnim čulnim nadražajima (vid, sluh, dodir).
        Deca najpre posmatraju ono što im nastavnik pokazuje i slušaju uputstva,
        da bi zatim sama preduzela konkretnu radnju. Ovakavim metodom se pokreće intenzivni moždani process,
        jer su prstići neprestano u pokretu dodirujući kuglice.
        Time se aktiviraju taktilni nadražaji koji dalje stimulišu centre u mozgu stvarajući
        nove neuronske veze (sinapse). Korišćenjem prstiju obe ruke,
        istovremeno se aktiviraju obe moždane hemisfere i povećava kognitivni kapacitet.
        Zato se sa pravom može reći da logičke operacije na abakusu predstavljaju pravu moždanu gimnastiku,
        nešto poput čučnjeva ili sklekova za mozak!</p>
    <h4 class="text-center">Druga faza – MENTALNA ARITMETIKA I VIZUELIZACIJA</h4>
    <p style="padding:4%;"> <b>Faza mentalne aritmetike (暗算, jap. Anzan)</b> 
        počinje tokom viših nivoa na kojima se prestaje sa fizičkom upotrebom abakusa.
        Sada deca počinju da računaju napamet, zamišljajući abakus u sopstvenoj glavi. Posmatrajući,
        često možemo da vidimo kako i dalje pomeraju prste kao da koriste pravi abakus.
        Sposobnost vizuelizacije abakusa deca su razvila zahvaljujući aktivaciji desne hemisferi mozga,
        odgovornoj za maštu, fotografsko pamćenje i kreativnost.
        Jednom kada se ova sposobnost razvije moguće je dalje uvežbavati sve brže
        I komplikovanije računske operacije,
        a deči mozak se počinje ponašati poput pravog super računara.</p>


    <h4 class="text-center m-3 font-weight-bold"> Omogućite svom detetu da razvije svoj puni potencijal !</h4>
    <p class="text-center m-3">Pozovite nas odmah ili pošaljite mail</p>
    </div>
</div>
<div class="nastava">
    <h1 > ORGANIZACIJA NASTAVE</h1>
</div>
<div class="row">
<div class="col-lg-6">
    <h3 class="text-center">Koliko traje program mentalne aritmetike?</h3>
    <p style="padding:2%;">Program ima <b>dva nivoa </b> (osnovni i napredni) i <b>prednivo</b>  
        za decu koja još nisu krenula u školu (4 – 7 godina).
         Dete prelazi na napredni nivo, kada završi osnovni.
        Za decu koja završe oba nivoa mentalne aritmetike, postoji <b>i treći nivo</b> , 
        poseban program mentalne matematike – Super um.
        Svaki nivo traje po <b>deset meseci </b> (septembar – jun) odnosno 40 nedelja (120 časova).</p>
        <h3 class="text-center">Kada se održava nastava ?</h3>
        <p  style="padding:2%;">Redovna nastava se održava <b> jedanput nedeljno</b> – 
            po pravilu <b>vikendom </b> (subotom ili nedeljom) 
            u trajanju od 3 vezana časa (3 x 45 min) sa kratkim pauzama između časova.
            Radnim danima (od srede do petka) u popodnevnim satima se održava individualna nastava
             radi <b> nadoknade propuštenih časova i dopunska i dodatna nastava.</b></p>
        <h3 class="text-center">Koliko obično ima dece u jednoj grupi?</h3>
        <p  style="padding:2%;">
            Program je pažljivo osmišljen uzimajući u obzir individualne potrebe svakog deteta.
             Nastava se praktikuje u <b>malim grupama </b> (6 do 12 polaznika), kroz zabavne aktivnosti, 
             različite igre i takmičenja, 
            pri čemu je najvažnija opuštajuća i kreativna atmosfera i pozitivni emocionalni odnosi.</p>
</div>
<div class="col-lg-6">
     <img src="images/skola_mentalne_aritmetike.jpg" width="100%" alt="">

</div>
<div class="container">
<h4> Program je prilagođen uzrastima, tako da postoje sledeće starosne grupe:</h4>
<ul>
    <li> Predškolska (od 4 do 6 godina)</li>
    <li>Mlađa školska (prvi i drugi razred)</li>
    <li> Srednja školska (treći i četvrti razred)</li>
    <li> Starija školska (peti i šesti razred)</li>
</ul>
*Predškolska starosna grupa se po potrebi može podeliti na mladje i starije kategorije polaznika 
(4 – 5 godina), (6 godina).
</div>
<div class="follow">
    <h1>UPIS JE U TOKU !!</h1>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100068634936845"
    class="text-primary">ZAPRATITE NAŠU FACEBOOK STRANICU</a>
</div>
</div>