<%- include ('partials/top') %>
<%- include ('partials/header') %>


    <div class="container-fluid text-center">
        <div class="row">

            <div class="col-sm-4 bg1 ">
                <span class="glyphicon glyphicon-envelope"></span>
                <a href="/kontakt">
                    <h4>POŠALJITE PORUKU</h4>
                </a>
                <p>Kontaktirajte nas putem forme, a mi ćemo Vam odgovoriti u najkraćem mogućem roku..</p>
            </div>

            <div class="col-sm-4 bg2">
                <span class="glyphicon glyphicon-cog"></span>
                <a href="/mentalna_aritmetika">
                    <h4>MENTALNA ARITMETIKA</h4>
                </a>
                <p>Škola Malac Genijalac primenjuje originalni HIKARI 光 program Mentalne aritmetike. ..</p>
            </div>
            <div class="col-sm-4 bg3">
                <span class="glyphicon glyphicon-equalizer"></span>
                <a href="/igrica">
                    <h4>IGRICE ZA BUDUĆE GENIJALCE</h4>
                </a>
                <p>Zabavite se, igrajte i takmičite sa našim malcima-genijalcima-zvezdarcima..</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 bg4">
                <span class="glyphicon glyphicon-education"></span>
                <a href="/superum">
                    <h4>SUPER UM</h4>
                </a>
                <p>Program SUPER UM predstavlja nadogradnju programa mentalne aritmetike obuhvatajući rešavanje složenih
                    matematičkih problema..
                </p>
            </div>
            <div class="col-sm-4 bg5">
                <span class="glyphicon glyphicon-font"></span>
                <a href="/priprema">
                    <h4>ABAKUS</h4>
                </a>
                <p>Najprostije rečeno abakus je drevna računaljka. Međutim abakus se ne može posmatrati samo kao
                    računaljka, jer se na njemu ne računa!
                    On zapravo potpomaže računanje...</p>
            </div>
            <div class="col-sm-4 bg6">
                <span class="glyphicon glyphicon-certificate"></span>
                <a href="/priprema">
                    <h4>SERTIFIKOVANI PREDAVAČI</h4>
                </a>
                <p>Naš tim čine stručni nastavnici, koji su uspešno prošli međunarodnu obuku i sertifikovali se za
                    učitelje mentalne aritmetike po originalnoj japanskoj metodi...</p>
            </div>
        </div>
    </div>

    <div class="continer-fluid ">
        <div class="box">
            <h4 style="padding:3%;  text-align: center;"> REZULTATI PROGRAMA</h4>
            <hr style="width:50%; padding: 1%;">
            <div class="row">
                <div class="col-sm-6 ">

                    <ul>
                        <li>BOLJI USPEH U ŠKOLI</li>
                        <li>SAMOPOUZDANJE I BOLJE UČENJE</li>
                        <li>RAZVOJ INTELEKTUALNIH SPOSOBNOSTI </li>
                        <li>POBOLJŠANJE PAŽNJE I MEMORIJE</li>
                        <li>RAZVIJENA MOĆ VIZUELIZACIJE</li>
                    </ul>

                </div>
                <div class="col-sm-6 ">
                    <li>ODLIČNO PAMĆENJE I KONCETRACIJA</li>
                    <li>ANALITIČKO I LOGIČKO RAZMIŠLJANJE</li>
                    <li>RAZVOJ LIDERSKIH VEŠTINA</li>
                    <li>POVEĆANJE EMOCIONALNE INTELIGENCIJE</li>
                    <li>PRIPREMA ZA PRESTIŽNA ŠKOLOVANJA</li>
                </div>
            </div>
            <hr style="width:50%; padding: 1%;">
            <div class="col-sm-6">
                <h4 style="text-align: center; padding: 2%; margin-top: 4%;">INTELEKTUALNI RAZVOJ DECE JE BRIGA NJIHOVIH
                    RODITELJA</h4>
                <p style="text-align: center;">
                    Većina današnje dece ima problem sa nedovoljnom pažnjom i koncentracijom. <br>
                    Najčešći krivac za to je savremeni načina života i upotreba pametnih uredjaja. <br>
                    To nikako ne znači da su naša deca manje sposobna za pun intelektualni razvoj. <br>
                    Za uspešan razvoj, najveću odgovornost imaju njihovi roditelji! <br>
                    Sva deca su rođena sa neograničenim potencijalom svog uma, <br>
                    pitanje je samo da li će se ta šansa iskoristi ili će se trajno propustiti !
                </p>
                <h4 style="text-align: center; padding: 2%;  margin-top: 4%;">PROGRAM ZA DECU KOJA MENJAJU SVET</h4>
                <p style="text-align: center;">

                    Škola Malac Genijalac uspešno realizuje programe kojim se od najranijeg perioda<br>
                    dečije sposobnosti stimulišu na adekvatan način. <br>
                    Hikari 光mentalna aritmetika je revolucionarni program <br>
                    kojim se postižu izuzetni razvojni rezultati, <br>
                    zahvaljujući jedinstvenom japanskom metodu, <br>

                    razvijenim u saradnji sa najpoznatijim svetskim stručnjacima iz oblasti edukacije.</p>
            </div>
            <div class="col-sm-6">
                <img src="images/malac_genijalac_pavle_savic.jpg" width="80%" class="border border-dark m-4" alt="">
            </div>
        </div>

    </div>

    <div  class="container">
    <h2 style="margin-top: 5%;" class="text-center">Utisci roditelja</h2>

<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h4>"Dete je za kratko vreme napredovalo, i veoma brzo se upoznalo sa brojevima.
       Primetna je povećana pažnja, samopouzdanje i ljubav prema matematici."
        <br><span style="font-style:normal;">Jovica Bogojević, Konjarnik, Zvezdara</span></h4>
    </div>
    <div class="item">
      <h4>"Dete je samostalnije prilikom rada domaćih zadataka, sto se odrazilo i na bolji uspeh u školi"
          <br><span style="font-style:normal;">Dragan Jovanovic, Mirijevo, Zvezdara</span></h4>
    </div>
    <div class="item">
      <h4>"Moje dete je pošlo u "Malac genijalac" po preporuci vaspitačice, prezadovoljna sam rezultatima."<br>
        <span style="font-style:normal;">Jovana Ilic, Kaludjerica , Grocka</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="follow">
    <h1>UPIS JE U TOKU !!</h1>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100068634936845"
    class="text-primary">ZAPRATITE NAŠU FACEBOOK STRANICU</a>
</div>
<%- include('partials/footer') %>