<%- include ('../partials/top') %>
<%- include ('../partials/header') %>
<img src="images/malac_slika.png" class="center" alt="">
    <div class="aritmetika">
        <h1> SOROBAN - ABAKUS</h1>
    </div>
    <div class="container">
        <h3 class="text-center p-3"> Šta je abakus?</h3>
<p>Kada definišemo pojam abakusa, moramo biti naročito oprezni i obratiti pažnju na njegove osobenosti.
     Najprostije rečeno abakus je drevna računaljka. Međutim abakus se ne može posmatrati samo kao računaljka,
      jer se na njemu ne računa! On zapravo potpomaže računanje, 
    ali bez automatizacije, jer se abakus računanje i dalje izvodi u mislima onog koji abakus upotrebljava.</p>
    <h3 class="text-center p-3"> Kako računati na abakusu?</h3>
<div class="row">
    <div class="col-md-8">
        <p>Kod klasičnog računanja pomoću papira i olovke, uvek počinjemo sa jedinicama, 
            pa potom deseticama, stotinama i talo dalje… Računanje na abakusu se odvija suprotnim smerom, 
            počev od kolone sa najvišom vrednošću, da bi se tek postepeno spribližavamo ka jedinicama. 
            Na taj način se razvija prirodnije razumevanje veličine broja.</p>
            <p>Abakus se sastoji od pravougaonog okvira, koji je razdelnikom podeljen na gornje i donje polje.
                 Kroz razdelnik je paralelno nanizano nekoliko vertikalnih stubova na kojima se nalaze kuglice,
                  po jedna u gornjem i po četiri u donjem polju. Računanje na abakusu se sprovodi pomeranjem kuglica,
                   koje se smatraju uračunatim ukoliko su pomerene prema razdelniku
                    (kuglica iz gornjeg polja ako se pomeri na dole, a kuglice iz donjeg polja ako su pomerene prema gore).
                     Vrednosti kuglica se menjaju redom po stubovima u smeru od desnog ka levom, od jedinica ka deseticama, 
                     stotinama i tako redom. U prvom stubcu, kuglica iz gornjeg polja ima vrednost 5,
                      u drugom stubcu vrednost 50, u trećem 500 i tako redom. 
                      Kuglice iz donjeg polja imaju vrednost: u prvom stupcu 1, u drugom 10, trećem 100 i tako redom. 
                      Ovakvom strukturom abakusa, kao što smo već napomenuli, 
                      moguće je komplikovane brojeve prikazati na lak i jednostavan način. 
                      Recimo broj million se na abakusu predstavlja pomoću samo jedne jedine kuglice, 
                      i to donje kuglice u sedmom stupcu. Na ovom primeru možemo slikovito sagledati suštinu vrednosti abakusa,
                       koja se ogleda u činjenici da on omogućava da se broj doživljava kao materijalni predmet,
                        a ne isključivo kao apstraktni pojam. Tako se svaki broj ma koliko velik bio 
                        (pod uslovom da imamo srazmerno velik abakus) može lako i
                 jednostavno predstaviti putem odgovarajućeg rasporeda kuglica.</p>
                
    </div>
    <div class="col-md-4">
        <img src="images/mirijevo_malac_genijalac.jpg" width="350px" alt="">
    </div>
    <p>Ukoliko želite da vaše dete nauči da koristi abakus i da uđe u svet „malca-genijalca“,
        pogledajte naš
      <a href="/mentalna_aritmetika" class="text-warning">program mentalne aritmetike.</a></p>
</div>
<hr>
<div class="row">
    <div class="col-md-8">
        <h3 class="text-center">Zašto abakus računaljka?</h3>
        <p>
            Iskustvo pokazuje da deca u zemljama u kojima postoji tradicija računanja na abakusu lakše shvataju pojam broja 
            i bolje prihvataju matematiku.
             Abakus kao popularna računaljka za decu doprinosi da se brojevi demistifikuju i postanu konkretniji.
              Prikazujući brojeve putem različitog rasporeda kuglica u prostoru. brojevi se materijalizuju i čine
               opipljivim i lakšim za razumevanje.
<br><br>
Zemlje poput Japana, Taivana, Kine ili Koreje uvek se visoko pozicioniraju na globalnim rangiranjima znanja.
 Kao dobar primer ovoj tezi mogu poslužiti rezultati PISA testova, pomoću kojih se vrši međunarodna procena 
 znanja učenika u pogledu funkcionalnog znanja.
        </p>
        <h3 class="text-center">Benefiti korišćenja abakusa</h3>
        <p>
            Računanje na abakusu doprinosi snažnoj moždanoj aktivnosti koja dokazano utiče na razvoj kognitivnih potencijala.
             Na taj način dečija računaljka zapravo postaje važna životna osnova, pomoću koje se obezbedjuje bolji uspeh
              u školi i priprema za dalja prestižna školovanja, Abakus matematika podstiče niz veština i sposobnosti,
               kao što su brzo računanje, poboljšana pažnja, memorija i koncentracija. Takodje razvija se analitičko 
               mišljenje, dobro pamćenje i jak fokus. Deca koja savladaju abakus računanje, 
            imaju veću mogućnost za optimalni razvoj svojih liderskih veština, intelekta i emocionalne inteligencije.
        </p>
    </div>
    <div class="col-md-4">
        <img src="images/abakus_racunaljka.jpg" width="400px" alt="">
    </div>
</div>
<h3 class="text-center p-4">Nastanak abakusa</h3>
<p>
    Tačno poreklo abakusa nije moguće sa sigurnošću utvrditi. Reč abakus dolazi do nas iz engleskog jezika,
     koji ju je tokom 14. veka preuzeo iz latinskog. 
     Latinska reč najverovatnije potiče od grčke reči abak što znači ploča ili tabla (za pisanje).
      Po nekim izvorima poreklo je još starije i nastalo je od feničanske reči za pesak (prašina) kojim su se 
      prvobitne table za pisanje posipale. 
    Pretpostavlja se da su mnoge drevne civilizacije koristile neku vrstu abakusa.
     Tako se njegov nastanak vezuje za mesopotamiju i sumersku civilizacijub.
      Ono što je sigurno prvobitni abakusi su bile ravne kamene ploče posute peskom na kojima se moglo pisati
       prstom ili perom, dok su se brojevi označavali uz pomoć kamenčića.
<br><br>
Kao što vidimo abakus predstavlja “praračunar”, prvobitnu spravu namenjenu računanju.
 Zato se on s’pravom smatra pretečom današnjih modernih računara.
  Ali takođe, njegov doprinos obrazovanju i učenju je nemerljiv.
   Tako je abakus prenošen sa generacije na generaciju prisutan i u naše vreme, 
   doprinoseći alternativnom sistemu znanja i obrazovanja. Kao dobro koje je doprinelo razvoju svetske civilizacije,
    abakus je 2013. godine zvanično upisan u UNESCO-vu listu nematerijalne kulturne baštine čovečanstva.
</p>

</div>

<div class="follow">
    <h1>UPIS JE U TOKU !!</h1>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100068634936845"
    class="text-primary">ZAPRATITE NAŠU FACEBOOK STRANICU</a>
</div>
<%- include ('../partials/footer') %>