<%- include ('../partials/top') %>

<div class="container-fluid">
    <h3 style="color:black; color:#3366cc; text-align: center;" class="p-3">IGRICE ZA BUDUĆE GENIJALCE</h3>
   <a href="/" class="btn btn-success border">NASLOVNA</a>
    <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">IGRICA #1</div>
            <div class="card-body">
                <img src="images/bg2.jpg" style="filter:blur(20px)" alt="">
            </div>
            <div class="card-footer">
                Iza mutiranih sličica nalaze se skrivene životinje, u svakom narednom krugu slike su jasnije, 
                ali je moguć manji broj ostvarenih poena.
                <a href="game1" class="form-control text-center bg-dark text-info"> START </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">IGRICA #2</div>
            <div class="card-body">
                <img src="images/malacgenijalac.jpg"  alt="">
            </div>
            <div class="card-footer">
                Kviz opšteg znanja, za naše Malce Genijalce. Svako pitanje nosi po 10 poena, dok je maksimalan broj
                ostvarenih poena 240.
            
                <a href="https://jovicabogojevic.github.io/BlicQuiz/" target="_blank" class="form-control text-center test bg-dark text-info"> START </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">IGRICA #3</div>
            <div class="card-body text-warning">U PRIPREMI</div>
            <div class="card-footer">Uskoro još zanimljivih igrica i puno pametne zabave.. <br>
            Vaš MALAC GENIJALAC
            <div class="wrapp">
            <a href="https://www.facebook.com/profile.php?id=100068634936845" class="form-control bg-dark text-info"> ZAPRATITE NAS NA FACEBOOK-U </a></div>
        </div>
        </div>
    </div>
</div>
</div>
<!--div class="container-fluid">
    <h3 style="color:black; color:#3366cc; text-align: center;" class="p-3">IGRICE ZA BUDUĆE GENIJALCE</h3>
    <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">IGRICA #4</div>
            <div class="card-body">
                <img src="images/bg2.jpg" style="filter:blur(20px)" alt="">
            </div>
            <div class="card-footer">
               
                <a href="game1" class="form-control text-center bg-dark text-info"> START </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">IGRICA #5</div>
            <div class="card-body">
                <img src="images/malacgenijalac.jpg"  alt="">
            </div>
            <div class="card-footer">
              
                <a href="https://jovicabogojevic.github.io/BlicQuiz/" target="_blank" class="form-control text-center bg-dark text-info"> START </a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">IGRICA #6</div>
            <div class="card-body text-warning">U PRIPREMI</div>
            <div class="card-footer">Uskoro još zanimljivih igrica i puno pametne zabave.. <br>
            Vaš MALAC GENIJALAC
            <div class="wrapp">
            <button class="form-control bg-dark text-info"> ZAPRATITE NAS NA FACEBOOK-U </button></div>
        </div>
        </div>
    </div>
</div>
</div-->

<%- include ('../partials/footer') %>
