<%- include ('../partials/top') %>
<%- include ('../partials/header') %>

<div class="container col-10 offset-1">
    <p class="text-info">Ukoliko ste zainteresovani, prijavite su putem kontakt forme, 
        a mi ćemo Vas kontaktirati u najkraćem mogućem roku. <br> <b class="text-success">
            VAŠ MALAC GENIJALAC </b>
    </p>
    <p id="demo"></p>

    <h4 class=" p-4 text-center">KONTAKT FORMA</h4>
 
<!-- Forma -->
<form action="/login" method="post" id="contact-form">
 <div class="form-group">
     <label for="SenderName">Ime i prezime</label>
     <input type="text" name="senderName" class="form-control" id="SenderName" required>
 </div>
 <div class="form-group">
     <label for="SenderEmail">E-mail</label>
     <input type="email" name="senderEmail" class="form-control" id="SenderEmail" required>
 </div>

 <div class="form-group">
     <label for="SenderPhone">Telefon</label>
     <input type="text" name="senderPhone" class="form-control" id="SenderPhone" required>
 </div>

 <button style="background:#3366cc; color: aliceblue;" class="btn form-control">Pošalji</button>
</form>

</div>
<div class="follow">
    <h1>UPIS JE U TOKU !!</h1>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100068634936845"
    class="text-primary">ZAPRATITE NAŠU FACEBOOK STRANICU</a>
</div>

<%- include ('../partials/footer') %>