<%- include ('../partials/top') %>
<%- include ('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            
            <h3>Osnovna škola "Boško Buha", Slavujev Venac</h3>
            <img src="images/osnovna_skola_bosko_buha.jpg" width="400px" alt="Osnovna_Škola_Boško_Buha">
            <p></p>
        </div>
        <div class="col-lg-6">
            <h3>Osnovna škola "Pavle Savić", Mirijevo</h3>
            <img src="images/osnovna_skola_pavle_savic.jpg" width="400px" alt="Osnovna_Škola_Pavle_Savić">
            <p></p>
        </div>
    </div>
</div>
<%- include ('../partials/footer') %>
