<%- include ('../partials/top') %>
<%- include ('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h3>O nama</h3>
            <p>Malac Genijalac je internacionalni edukativni sistem namenjen zdravom razvoju dečijeg mozga.
                 Ciljevi Malca Genijalac su podsticanje i razvijanje intelektualnih veština i sposobnosti dece počev od ranog perioda života.
                 Sledeći ovu viziju Malac Genijalac uspešno spaja “ najbolje iz različitih svetova ”, 
                primenjujući dragocena iskustva Istoka i Zapada.</p>
                <h3>Naša misija</h3>
                <p>Misija naše škole je stvaranje genijalne dece! Kako to činimo?</p>
                <ul>
                    <li>Razvijanjem svesti kod roditelja o potrebi podsticanja razvoja dečijih kognitivnih sposobnosti.</li>
                    <li>Obezbeđivanjem sigurnog, 
                        stimulativnog i kreativnog obrazovnog okruženja gde deca mogu rasti i razvijati se kao pojedinci.</li>
                    <li>Jedinstvenim programom sa modernim tehnologijama realizovanim od strane stručnog nastavnog kadra.</li>
                </ul>
        </div>
    
        <div class="col-lg-4">
            <img src="images/malacgenijalac.jpg" width="400px" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <img src="images/malac_genijalac_pavle_savic.jpg" width="400px" alt="">

        </div>
        <div class="col-lg-7">
            <h3>Naš tim</h3>
            <p>
                Glavni mentor programa Mentalne aritmetike je gospođa Danica Banzić, Master učitelj Mentalne aritmetike.
                 Gospođa Banzić je najveći domaći stručnjak za ovu oblast
                 i jedan od najeminentnijih evropskih stručnjaka za japanski abakus (soroban) sa specijalizacijom u Tokiju na prestižnoj Akademiji Tomoe Soroban.
                 Član je međunarodnih abakus asocijacija, 
                organizator i učesnik na značajnm međunarodnim takmičenjima i Olimpijadama u mentalnom računanju. 
                Autor je prve knjige o mentalnoj aritmetici na srpskom jeziku. <br>
                Tim škole “ Malac Genijalac ”
                 čine isključivo fakultetski obrazovani stručnjaci, prosvetni radnici, učitelji, psiholozi,
                 defektolozi i vaspitači koji poseduju neophodno iskustvo i proveren senzibilitet za rad sa decom.
                 Svaki naš nastavnik je prošao međunarodnu obuku čime je uspešno sertifikovan za učitelja Hikari mentalne aritmetike. 
                Spisak naših  lokacija na Zvezdari pogledajte<a href="link" class="text-info"> na sledećem linku</a>.
            </p>
            <h3>Naša vizija</h3>
            <p>Vizija nam je oblikovanje sigurnije budućnosti naše dece, 
                u kojoj će oni biti organizovani, disciplinovani, sposobni da efikasno reše problem, 
                puni poštovanja prema sebi i drugima, snažni, otporni i nezavisni, odnosno USPEŠNI I SREĆNI!
</p>
               <p class="font-weight-bold"> Ojačajmo buduće generacije!</p>
                <p class="font-weight-bold float-right">Zajedno stvaramo njihovo bolje sutra!</p>
        </div>
    </div>
   
</div>
<div class="follow">
    <h1>UPIS JE U TOKU !!</h1>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100068634936845"
    class="text-primary">ZAPRATITE NAŠU FACEBOOK STRANICU</a>
</div>
<%- include ('../partials/footer') %>