<%- include ('../partials/top') %>
<%- include ('../partials/header') %>
<div class="container">
    <div class="col-8 offset-1">
        <h2>Stranica je u pripremi</h2>
        <p>Više informacija na:</p>
        <a href="tel:063468894"> <button class="btn-lg btn-primary">+381(063468894)</button></a>
    </div>
</div>
<%- include ('../partials/footer') %>