<%- include ('../partials/top') %>
<%- include ('../partials/header') %>

<div class="">
    <img src="images/malac_slika.png" class="center" alt="">
    <div class="aritmetika">
        <h1> SUPER UM</h1>
    </div>
<div class="row">
    <div class="col-md-8"> <p style="padding: 2%;"> Program <b> SUPER UM </b>predstavlja nadogradnju programa mentalne aritmetike 
        obuhvatajući rešavanje složenih matematičkih problema koje se rešavaju isključivo mentalnim 
        putem, te je zato imenujemo  – mentalna matematika.
        Program se sprovodi kao treća upisna godina i najviši nivo škole  Malac genijalac… 
        Namenjen je svim polaznicima „Malaca Genijalaca“ 
        koji su uspešno savladali osnovni i napredni nivo programa. Isto tako namenjen je i svoj deci 
        od 10 do 17 godina, koja nisu završila program mentalne aritmetike, a imaju posebne afinitete 
        i sklonost ka matematici. </p><br>
        <p style="padding: 2%;">Oblasti koje obradjujemo, a počivaju na četiri osnovne aritmetičke operacije
             sa kojima smo se susretali
             u prve dve godine našeg programa su:</p>
<div class="row" style="padding: 2%;">
    <div class="col-md-6">
        <ul>
            <li>prosti činioci;</li>
            <li>stepenovanje;</li>
            <li>korenovanje(kvadratni, kubni, četvrti, peti i šesti koren);</li>
            <li>suma kvadrata;</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>sledeći kvadrat;</li>
            <li>sledeći kub;</li>
            <li>proporcija;</li>
            <li>jednačine;</li>
            <li>razlomci;</li>
        </ul>
    </div>
    <p>i jos mnoge druge zanimljive I važne oblasti koje pružaju praktično znanje deci, kao što su:</p>
<ul style="padding: 2%;">
    <li>konverzija valuta;</li>
    <li>računanje vremenskog intervala;</li>
    <li>kalendar(odredjivanje dana u nedelji za bilo koji datum u prošlosti i budućnosti);</li>
    <li>binarni kod.</li>
</ul>
</div>
    </div>
    <div class="col-md-4">
        <img src="images/brain.webp" width="100%" alt="">
    </div>
</div>   
<hr>
<div class="speak">

    <div class="row">
        <div class="col-md-5">
    <div class="card">
        <div class="card-body">
            <img src="https://www.malacgenijalac.com/wp-content/uploads/2018/08/super-um-2-400x376.jpg" alt="">
        </div>
        <div class="card-footer">
            Kosta Kuzmanović (Srbija), Mihailo Mitić (Srbija), Matvei Belov (Rusija),
             dr Gert Mittring višestruki svetski šampion u mentalnom računanju.
             Svetski rekorder u izračunavanju 89247-og korena broja sa 1.000.000. cifara !!!
        </div>
    </div></div>
    <div class="col-md-7">

    <p>O uspešnosti  SUPER UMA svedoči podatak da je naša škola ostvarila značajne rezultate na
         evropskim šampionatima. Pa su tako od šest medalja na Evropskom prvenstvu u Bazelu, 
         koje se odigralo u maju ove godine, naši učenici: Mihailo Mitić, Aleksandar Alavanja, 
         Ana Stamenković, Andrijana Drašković i Kosta Kuzmanović osvojili čak pet
          – dva zlata, dva srebra i jednu bronzu.

    </p>
    <p >Na ovaj način pripremamo decu za obrađivanje nekih od oblasti redovnog školskog programa, 
        budimo njihovu radoznalost i
         negujemo sposobnost rešavanja zadataka koje redovan obrazovni sistem ne nudi.</p> 
         <p>Naši polaznici, nakon navršene dve školske godine programa mentalne aritmetike,
              savladavaju problemske zadatke mentalnim putem, bez ikakvog pomagala,
               a sada imaju priliku da svoju veštinu podignu na viši stepen 
               – rešavajući kompleksnije matematički operacije na isti način 
               – isključivo misaonim procesom.
    
        </p>
        <p>
            S obzirom na složenost zadataka i neophodnost da se više podataka memoriše i to istovremeno, 
            dok se traži rešenje sledećeg problema, aktivnost moždanih ćelija eksponencijalno raste 
            – s toga naš program,
             SUPER UM, predstavlja izuzetan trening mozga.
        </p></div></div>
    </div>
</div>
<div class="follow">
    <h1>UPIS JE U TOKU !!</h1>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100068634936845"
    class="text-primary">ZAPRATITE NAŠU FACEBOOK STRANICU</a>
</div>

<%- include ('../partials/footer') %>