<%- include ('../partials/top') %>

<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#"><i class='fas fa-phone' style='font-size:17px; color:white;'></i>
        <a href="tel:+38163468894" style="font-size: 1.5em; color:white;">(+381)063/468894</a>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon" style="color:white;"></span>
    </button>
    <li class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="dropup">
                <a class="btn dropdown-toggle usluga" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class='fas fa-map-marker-alt'></i> LOKACIJE
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="lokacije">Osnovna Škola "Pavle Savić", Mirijevo</a>
                    <a class="dropdown-item" href="lokacije">Osnovna Škola "Boško Buha", Slavujev Venac</a>
                
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/">NASLOVNA |</a>
            </li>
            <!--li class="nav-item">
        <a class="nav-link text-white" href="cenovnik.html">ABAKUS |</a>
      </li-->
            <li class="nav-item">
                <a class="nav-link text-white" href="/o_nama">O NAMA |</a>
            </li>
            <li class="nav-item kviz">
                <a class="nav-link text-white " href="/upis">UPIS |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/kontakt">KONTAKT | </a>
            </li>
        </ul>

</nav>
<div class="hero-picture">

    <div class="hero-font">

        <h3>UPIS U TOKU</h3>

        <p style="color: white;" class="btn  p-2 m-3">
            Iskoristite jedinstvenu priliku za svoje dete. <br>
             Obezbedite mu optimalan intelektualni razvoj i mogućnost da postane bolja verzija sebe! <br>
 Malac Genijalac stvara generacije dece koja menjaju svet! <br>
  Pripremite Vaše dete za izazove vremena koje ne trpi prosečnost i obezbedite ga za budućnost ! <br>
      Program Mentalne aritmetike za zdrav razvoj mogza i intelektualnih sposobnosti dece od 4 do 14 godina.</p>

       <a href="online_upis"><button style="margin-top: 20px; background-color: #3366cc;" 
        class="btn btn-lg text-white font-weight-bold">ONLINE UPIS</button></a>
    </div>

</div>
<%- include ('../partials/footer') %>