<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Malac Genijalac Zvezdara | Škola mentalne aritmetike za decu | Abakus</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1B35DRKRMR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-1B35DRKRMR');
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="./games.css">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="sitemap.xml">

  <style>
    .start{

    }
    .kocka {
      width:auto;
      height: auto;
      border: 1px solid black;
      margin-left: 1%;
      text-align: center;
    }
    .kocka1 {
      display: none;
    }


    .kocka2 {
      display: none;
    }

    .kocka3 {
      display: none;
    }

    .kocka4 {
      display: none;
    }

    .kocka5 {
      display: none;
    }

    .kocka6 {
      display: none;
    }
    .kocka7 {
      display: none;
    }

    .kocka8 {
      display: none;
    }
    .tekst {
      display: none;
    }
    .time {
      background-color: tomato;
      color: white;
      padding: 3%;
      font-size: 2em;
      text-align: center;
    }

    .score {
      background-color: cadetblue;
      color: white;
      padding: 3%;
      font-size: 2em;
      text-align: center;
    }

    p {
      font-size: 1.5em;
    }
    .kraj{
      display:none;
    }
  </style>
</head>

<body>
  <h2 class="text-center m-5 p-3">Који израз даје више?</h2>
  <div class="time">
    30 </div>

  <div class="container col">
    <div class="start">
      <button class="btn btn-lg btn-outline-info">СТАРТ</button>
    </div>
    <div class="kocka1">1
      <div class="kocka text-center">
        <p>
          <button class="first btn btn-outline-success">-></button>
          35/5 + 4 + 2 * 3 - (3 + 11)
        </p>
        <p>
          <button class="second btn btn-outline-success">-></button>
          ((11 * 3 - 1) / 4 + 1) / 3 - 1
        </p>
        <p>
          <button class="second right btn btn-outline-success">-></button>
          (55+9) / 8 / 4 * 0 + 2
        </p>

      </div>
    </div>

    <div class="kocka2">2
      <div class="kocka">
        <p>
          <button class="second btn btn-outline-success">-></button>
          (33 * 3 - 9) / 30 * 0 + 3
        </p>
        <p>  
          <button class="first2 btn btn-outline-success">-></button>
          (5 * 5 * 5 - 5) / 5 / 6
        </p>
        <p>
          <button class="second btn btn-outline-success">-></button>
          12 * 12 - 44 - 98 * 1
        </p>
      </div>
    </div>
    <div class="kocka3">3
      <div class="kocka">
        <p>
          <button class="second btn btn-outline-success">-></button>
          (11 - 2 * 3) * 101 / 5        </p>
        <p>  
          <button class="second btn btn-outline-success">-></button>
         33 * 3
        </p>
        <p>
          <button class="first3 btn btn-outline-success">-></button>
          44 + 77 - 11 - 3 * 3 + 1 * 2 
        </p>
      </div>
    </div>
    <div class="kocka4">4
      <div class="kocka">
        <p>
          <button class="second btn btn-outline-success">-></button>
          3 * 3 * 3 * 3 * 3       </p>
        <p>  
          <button class="first4 btn btn-outline-success">-></button>
         244 - 5 + 17 + 5 * 5
        </p>
        <p>
          <button class="second btn btn-outline-success">-></button>
          (243 - 1 * 12 / 1 * 0) * 0 + 242
        </p>
      </div>
    </div>
    <div class="kocka5">5
      <div class="kocka">
        <p>
          <button class="second btn btn-outline-success">-></button>
          12 / 4 * 333 + 11 * 5      </p>
        <p>  
          <button class="second btn btn-outline-success">-></button>
         2000 - 751 + 3 * 3 
        </p>
        <p>
          <button class="first5 btn btn-outline-success">-></button>
          4 * 4 * 4 * 4 * 4 * 2
        </p>
      </div>
    </div>
    <div class="kocka6">6
      <div class="kocka">
        <p>
          <button class="first6 btn btn-outline-success">-></button>
          (17 * 15 + 12 + 15) * 2   </p>
        <p>  
          <button class="second btn btn-outline-success">-></button>
         25 * 20 + 8 * 8 - 2 
        </p>
        <p>
          <button class="second btn btn-outline-success">-></button>
          1000 / 2 + 3 * 3 * 3 * 2 - 1
        </p>
      </div>
    </div>
    <div class="kocka7">7
      <div class="kocka">
        <p>
          <button class="second btn btn-outline-success">-></button>
          11 * 11 * 5 - 10  </p>
        <p>  
          <button class="second btn btn-outline-success">-></button>
         25 + 13 * 3 * 6 * 2
        </p>
        <p>
          <button class="first7 btn btn-outline-success">-></button>
          2000 / 4 + 5 * 5 * 4 + 11
        </p>
      </div>
    </div>
    <div class="kocka8">8
      <div class="kocka">
        <p>
          <button class="second btn btn-outline-success">-></button>
           (9999 / 9 - 111) / 4 * 3   </p>
        <p>  
          <button class="first8 btn btn-outline-success">-></button>
         53 + 111 + 145 + 232 + 55 * 11
        </p>
        <p>
          <button class="second btn btn-outline-success">-></button>
        1000 + 12 * 12 - 400 - 300
        </p>
       
      </div>
    </div>
  </div>
  <div class="tekst">
    <button class="btn btn-success">НАСЛОВНА</button>
    <h3 class="text-center">Број остварених поена је:</h3>

  </div>
  <div class="score">
    0 Бодова
  </div>
  <div class="kraj">Покушајте поново</div>
  <script>
    var start = document.querySelector(".start");
    var time = document.querySelector(".time");
    var score = document.querySelector(".score");
    var first = document.querySelector(".first");
    var first2 = document.querySelector(".first2");
    var first3 = document.querySelector(".first3");
    var first4 = document.querySelector(".first4");
    var first5 = document.querySelector(".first5");
    var first6 = document.querySelector(".first6");
    var first7 = document.querySelector(".first7");
    var first8 = document.querySelector(".first8");
    var kocka1 = document.querySelector(".kocka1");
    var kocka2 = document.querySelector(".kocka2");
    var kocka3 = document.querySelector(".kocka3");
    var kocka4 = document.querySelector(".kocka4");
    var kocka5 = document.querySelector(".kocka5");
    var kocka6 = document.querySelector(".kocka6");
    var kocka7 = document.querySelector(".kocka7");
    var kocka8 = document.querySelector(".kocka8");
    var tekst = document.querySelector(".tekst");
    var kraj = document.querySelector(".kraj");
    var second = document.querySelectorAll(".second");
   
    second[0].addEventListener('click',bridge);
    second[1].addEventListener('click',bridge);
    second[2].addEventListener('click',bridge2);
    second[3].addEventListener('click',bridge2);
    second[4].addEventListener('click',bridge3);
    second[5].addEventListener('click',bridge3);
    second[6].addEventListener('click',bridge4);
    second[7].addEventListener('click',bridge4);
    second[8].addEventListener('click',bridge5);
    second[9].addEventListener('click',bridge5);
    second[10].addEventListener('click',bridge6);
    second[11].addEventListener('click',bridge6);
    second[12].addEventListener('click',bridge7);
    second[13].addEventListener('click',bridge7);
    second[14].addEventListener('click',bridge8);
    second[15].addEventListener('click',bridge8);
function bridge(){
  myStopFunction()
myFunc();
kocka1.style.display = "none";
kocka2.style.display = "block";
}
function bridge2(){
  myStopFunction()
myFunc();
kocka2.style.display = "none";
kocka3.style.display = "block";
}
function bridge3(){
  myStopFunction()
myFunc();
kocka3.style.display = "none";
kocka4.style.display = "block";
}
function bridge4(){
  myStopFunction()
myFunc();
kocka4.style.display = "none";
kocka5.style.display = "block";
}
function bridge5(){
  myStopFunction()
myFunc();
kocka5.style.display = "none";
kocka6.style.display = "block";
}
function bridge6(){
  myStopFunction()
myFunc();
kocka6.style.display = "none";
kocka7.style.display = "block";
}
function bridge7(){
  myStopFunction()
myFunc();
kocka7.style.display = "none";
kocka8.style.display = "block";
}
function bridge8(){
  myStopFunction()
myFunc();
kocka8.style.display = "none";
time.style.display = "none";
tekst.style.display = "block";
}



    var n = 30;
    numbers = [];

 
    start.addEventListener('click',myFunc);
    start.addEventListener('click',view1)
    first.addEventListener('click',check1);
    first2.addEventListener('click',check2);
    first3.addEventListener('click',check3);
    first4.addEventListener('click',check4);
    first5.addEventListener('click',check5);
    first6.addEventListener('click',check6);
    first7.addEventListener('click',check7);
    first8.addEventListener('click',check8);

function finish(){
  kraj.style.display = "block";
}
//////////////////TREBA RAZRADITI SCENARIO STA CE SE DESITI UKOLIKO ODGOVOR NIJE TACAN
    var myVar;

function myFunc() {
  myVar = setInterval(alertFunc, 1000);
}
function view1(){
  kocka1.style.display = "block";
  start.style.display = "none";
}
function alertFunc() {
  n--;
      time.innerHTML = n;
}
    function check1() {
      numbers.push(n);
kocka1.style.display = "none";
kocka2.style.display = "block";
myStopFunction()
myFunc();
sigma();
}
function check2() {
      numbers.push(n);
kocka1.style.display = "none";
kocka2.style.display = "none";
kocka3.style.display = "block";
myStopFunction()
myFunc();
sigma();
}
function check3() {
      numbers.push(n);
kocka3.style.display = "none";
kocka4.style.display = "block";
myStopFunction()
myFunc();
sigma();
}
function check4() {
      numbers.push(n);
kocka4.style.display = "none";
kocka5.style.display = "block";
myStopFunction()
myFunc();
sigma();
}
function check5() {
      numbers.push(n);
kocka5.style.display = "none";
kocka6.style.display = "block";
myStopFunction()
myFunc();
sigma();
}
function check6() {
      numbers.push(n);
kocka6.style.display = "none";
kocka7.style.display = "block";
myStopFunction()
myFunc();
sigma();
}
function check7() {
      numbers.push(n);
kocka7.style.display = "none";
kocka8.style.display = "block";
myStopFunction()
myFunc();
sigma();
}
function check8() {
      numbers.push(n);
kocka8.style.display = "none";
myStopFunction()
myFunc();
sigma();
time.style.display = "none";
tekst.style.display = "block";
}
function myStopFunction() {
  clearInterval(myVar);
   n = 31;
}
function sigma(){
  var sum = numbers.reduce((a, b) => a + b, 0)
  console.log(numbers);
  console.log(sum);
 score.innerHTML = sum;
}




  </script>
</body>

</html>