<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malac Genijalac Zvezdara | Škola mentalne aritmetike za decu | Abakus</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1B35DRKRMR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-1B35DRKRMR');
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="games.css">
    <link rel="stylesheet" href="main.css">

    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        .box {
            width: 296px;
            height: 200px;
            border: 1px solid whitesmoke;
            margin: 50px auto;
        }

        .newDiv {
            width: 49px;
            height: 49px;
            line-height: 50px;
            float: left;
            border: 1px solid whitesmoke;
            box-sizing: border-box;
            background: #3366cc;
        }

        .box>img {
            height: 300px;
        }

        th {
            text-align: center;
        }
    </style>
</head>

<body>
    <h3 class="text-center border border-info p-2">ПОГОДИТЕ СКРИВЕНИ ПОЈАМ</h3>

    <p class="text-center">
        Иза 24 поља се налази скривени појам, свако откривено поље умањује салдо поена за 3,
        тако да можете остварити и негативне бодове. <br>
        Када сте у потпуности сигурни притисните дугме "ПОТВРДИ"
        Максимални број поена је 24.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="box">

                </div>
            </div>
            <div class="col-md-4">
                ТАБЕЛА
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ПОЈАМ</th>
                            <th scope="col">БОД</th>

                            <hr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="one"></td>
                            <td class="jedan"></td>
                        </tr>
                        <tr>
                            <td class="two"></td>
                            <td class="dva"></td>
                        </tr>
                        <tr>
                            <td class="three"></td>
                            <td class="tri"></td>
                        </tr>
                        <tr>
                            <td class="four"></td>
                            <td class="cetri"></td>
                        </tr>
                        <tr>
                            <td class="five"></td>
                            <td class="pet"></td>
                        </tr>
                        <tr>
                            <td class="six"></td>
                            <td class="sest"></td>
                        </tr>
                        <tr>
                            <td class="seven"></td>
                            <td class="sedam"></td>
                        </tr>
                        <tr>
                            <td class="eight"></td>
                            <td class="osam"></td>
                        </tr>
                        <tr>
                            <td class="nine"></td>
                            <td class="devet"></td>
                        </tr>
                        <tr>
                            <td class="ten"></td>
                            <td class="deset"></td>
                        </tr>
                        <tr>
                            <th>UKUPNO:</th>
                            <td></td>
                            <td class="saldo"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2 class="text-center text-danger" id="demo"> </h2>

    <input type="text" name="try" placeholder="Тражени појам је:" class="text-center form-control mt-3 input0">
    <button class="bg-danger form-control btn text-white m-3">ПОТВРДИ</button>
    <button class="bg-info form-control btnPlay text-white m-3">СЛЕДЕЋИ ПОЈАМ</button>

    <script>

        var demo = document.querySelector("#demo");
        var box = document.querySelector('.box');
        var one = document.querySelector('.one');
        var two = document.querySelector('.two');
        var three = document.querySelector('.three');
        var four = document.querySelector('.four');
        var five = document.querySelector('.five');
        var six = document.querySelector('.six');
        var seven = document.querySelector('.seven');
        var eight = document.querySelector('.eight');
        var nine = document.querySelector('.nine');
        var ten = document.querySelector('.ten');

        var jedan = document.querySelector('.jedan');
        var dva = document.querySelector('.dva');
        var tri = document.querySelector('.tri');
        var cetri = document.querySelector('.cetri');
        var pet = document.querySelector('.pet');
        var sest = document.querySelector('.sest');
        var sedam = document.querySelector('.sedam');
        var osam = document.querySelector('.osam');
        var devet = document.querySelector('.devet');
        var deset = document.querySelector('.deset');
        var count = 1;
        var check = document.querySelector('.btn');
        var play = document.querySelector('.btnPlay');
        var sigma = document.querySelector('.saldo');
        niz = []; 
        console.log(niz);
        check.disabled = true;
        play.disabled = true;

        createTable();
       

        var boxes = document.querySelectorAll('.newDiv');
        var counter = 27;

        for (let i = 0; i < boxes.length; i++) {

            boxes[i].addEventListener('click', insertImage);

            function insertImage() {
                var test = document.querySelector('.input0');
                this.style.background = "none";
                counter = counter - 3;
                demo.innerHTML = counter;
                test.focus()
                check.disabled = false;
         
            }
        }
        function createTable() {
            
            var text = '';
            for (var i = 0; i < 24; i++) {
                text += '<div class="newDiv"></div>'
            }
            box.innerHTML = text;
            box.style.backgroundImage = "url('plant/p" + count + ".jpg')";
            console.log(count);
        }

        check.addEventListener('click', validation)
        

      function validation() {
            check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();
            if (count == 1) {
                jabuka1 = "JABUKA";
                jabuka2 = "ЈАБУКА";
                if (test === jabuka1 || test === jabuka2) {
                    one.innerHTML = "ЈАБУКА";
                    jedan.innerHTML = counter;
                    jedan.style.color = "blue";
                    var kec = counter;
                    niz.push = (kec);
                }else{
                    one.innerHTML = "ЈАБУКА";
                    jedan.innerHTML = -24;
                    jedan.style.color = "red";

////////////////////////////////UKOLIKO JE POGODAK + COUNTER,PROMASAJ -COUNTER FORMIRATI NOVE VARIJABLE PA IH RACUN 
//////////////////////sabrati sve countere//////////
}
            }

        }

play.addEventListener('click', newPlay);

function newPlay(){
    check.disabled = false;
            play.disabled = true;
            
        check.disabled = true;
        play.disabled = true;

        createTable();
       

        var boxes = document.querySelectorAll('.newDiv');
        var counter = 27;

        for (let i = 0; i < boxes.length; i++) {

            boxes[i].addEventListener('click', insertImage);

            function insertImage() {
                var test = document.querySelector('.input0');
                this.style.background = "none";
                counter = counter - 3;
                demo.innerHTML = counter;
                test.focus()
                check.disabled = false;

            }
        }
        function createTable() {
            newCount = count + 1;
            var text = '';
            for (var i = 0; i < 24; i++) {
                text += '<div class="newDiv"></div>'
            }
            box.innerHTML = text;
            box.style.backgroundImage = "url('plant/p" + newCount + ".jpg')";
        count++
        }

        check.addEventListener('click', validation)
        

        function validation() {
            check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();
            
            if (count == 2) {
                lubenica1 = "LUBENICA";
                lubenica2 = "ЛУБЕНИЦА";
                if (test == lubenica1 || test == lubenica2) {
                    two.innerHTML = "ЛУБЕНИЦА";
                    dva.innerHTML = counter;
                    var dvojka = counter;
                }else{
                    two.innerHTML = "ЛУБЕНИЦА";
                    dva.innerHTML = -24;
                    dva.style.color = "red";
                    var dvojka = -24;
                };
                console.log(dvojka);
            }
            if (count == 3) {
                breskva1 = "BRESKVA";
                breskva2 = "БРЕСКВА";
                if (test == breskva1 || test == breskva2) {
                    three.innerHTML = "БРЕСКВА";
                    tri.innerHTML = counter;
                    var trojka = counter;
                }else{
                    three.innerHTML = "БРЕСКВА";
                    tri.innerHTML = -24;
                    tri.style.color = "red";
                    var trojka  = -24;
                };
            }
            if (count == 4) {
                paradajz1 = "PARADAJZ";
                paradajz2 = "ПАРАДАЈЗ";
                if (test == paradajz1 || test == paradajz2) {
                four.innerHTML = "ПАРАДАЈЗ";
                cetri.innerHTML = counter;
                var cetvorka = counter;
                }else{
                    four.innerHTML = "ПАРАДАЈЗ";
                    cetri.innerHTML = -24;
                    cetri.style.color = "red";
                var cetvorka = -24;
                };
            }
            if (count == 5) {
                kupus1 = "KUPUS";
                kupus2 = "КУПУС";
                if (test == kupus1 || test == kupus2) {
                five.innerHTML = "КУПУС";
                pet.innerHTML = counter;
                var petica = counter;
                
                }else{
                    five.innerHTML = "КУПУС";
                    pet.innerHTML = -24;
                    pet.style.color = "red";
                var petica = -24;
                };
            }


            if (count == 6) {
                malina1 = "MALINA";
                malina2 = "МАЛИНА";
                if (test == malina1 || test == malina2) {
                six.innerHTML = "МАЛИНА";
                sest.innerHTML = counter;
                var sestica = counter;
                }else{
                    six.innerHTML = "МАЛИНА";
                    sest.innerHTML = -24;
                    sest.style.color = "red";
                    var sestica = -24;
                };
            }
            if (count == 7) {
                orah1 = "ORAH";
                orah2 = "ОРАХ";
                if (test == orah1 || test == orah2) {
                seven.innerHTML = "ОРАХ";
                sedam.innerHTML = counter;
                var sedmica = counter;
                }else{
                    seven.innerHTML = "ОРАХ";
                    sedam.innerHTML = -24;
                    sedam.style.color = "red";
                var sedmica = -24;
                };
            }
            if (count == 8) {
                spanac1 = "SPANAC";
                spanac2 = "SPANAĆ";
                spanac3 = "СПАНАЋ";
                if (test == spanac1 || test == spanac2 || test == spanac3) {
                eight.innerHTML = "СПАНАЋ";
                osam.innerHTML = counter;
                var osmica = counter;
                }else{
                    eight.innerHTML = "СПАНАЋ";
                    osam.innerHTML = -24;
                    osam.style.color = "red";
                    var osmica = -24;
                };
            }
            if (count == 9) {
                dinja1 = "DINJA";
                dinja2 = "ДИЊА";
                if (test == dinja1 || test == dinja2) {
                nine.innerHTML = "ДИЊА";
                devet.innerHTML = counter;
                var devetka = counter;
                }else{
                    nine.innerHTML = "ДИЊА";
                    devet.innerHTML = -24;
                    devet.style.color = "red";
                var devetka = -24;
                };
            }
            if (count == 10) {
                badem1 = "BADEM";
                badem2 = "БАДЕМ";
                if (test == badem1 || test == badem2) {
                ten.innerHTML = "БАДЕМ";
                deset.innerHTML = counter;
                var desetka = counter;
                }else{
                    ten.innerHTML = "БАДЕМ";
                    deset.innerHTML = -24;
                    deset.style.color = "red";
                    var desetka = -24;
                };
            }
            
      var zbir = dvojka + trojka + cetvorka + petica +sestica + sedmica + osmica + devetka + desetka
      console.log(zbir);
      niz.push(zbir)
        }
}


            
    </script>
    <%- include ('../partials/footer') %>