<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malac Genijalac Zvezdara | Škola mentalne aritmetike za decu | Abakus</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1B35DRKRMR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-1B35DRKRMR');
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="games.css">
    <link rel="stylesheet" href="main.css">

    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        .box {
            width: 296px;
            height: 200px;
            border: 1px solid whitesmoke;
            margin: 50px auto;
        }

        .newDiv {
            width: 49px;
            height: 49px;
            line-height: 50px;
            float: left;
            border: 1px solid whitesmoke;
            box-sizing: border-box;
            background: #3366cc;
        }

        .box>img {
            height: 300px;
        }

        th {
            text-align: center;
        }
    </style>
</head>

<body>
    <h3 class="text-center border border-info p-2">ПОГОДИТЕ СКРИВЕНИ ПОЈАМ</h3>

    <p class="text-center">
        Иза 24 поља се налази 10 скривених појмова, свако откривено поље умањује салдо поена за 3,<br>
        тако да можете остварити и негативне бодове. Уколико унесете погрешан појам
        и потврдите одузеће Вам се 24 поена.
        Максимални број поена је 240.
    </p>
    <div class="container border">
        <div class="row">

            <div class="col-md-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ПОЈАМ</th>
                            <th scope="col">БОД</th>

                            <hr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="">1</td>
                            <td class="one"></td>
                            <td class="jedan"></td>
                        </tr>
                        <tr>
                            <td class="">2</td>
                            <td class="two"></td>
                            <td class="dva"></td>
                        </tr>
                        <tr>
                            <td class="">3</td>
                            <td class="three"></td>
                            <td class="tri"></td>
                        </tr>
                        <tr>
                            <td class="">4</td>
                            <td class="four"></td>
                            <td class="cetri"></td>
                        </tr>
                        <tr>
                            <td class="">5</td>
                            <td class="five"></td>
                            <td class="pet"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="box">

                </div>
            </div>
            <div class="col-md-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ПОЈАМ</th>
                            <th scope="col">БОД</th>

                            <hr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="">6</td>
                            <td class="six"></td>
                            <td class="sest"></td>
                        </tr>
                        <tr>
                            <td class="">7</td>
                            <td class="seven"></td>
                            <td class="sedam"></td>
                        </tr>
                        <tr>
                            <td class="">8</td>
                            <td class="eight"></td>
                            <td class="osam"></td>
                        </tr>
                        <tr>
                            <td class="">9</td>
                            <td class="nine"></td>
                            <td class="devet"></td>
                        </tr>
                        <tr>
                            <td class="">10</td>
                            <td class="ten"></td>
                            <td class="deset"></td>
                        </tr>
                        <tr>
                            <th>UKUPNO:</th>
                            <td></td>
                            <td class="saldo"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2 class="text-center text-danger" id="demo"> </h2>
    <div class="row">

        <div class="col-md-4">
            <input type="text" name="try" placeholder="Тражени појам је:" class="text-center form-control mt-3 input0">
        </div>
        <div class="col-md-4">
            <button class="bg-danger form-control btnFirst text-white m-3">ПОТВРДИ</button>
        </div>
        <div class="col-md-4">
            <button class="bg-info form-control btnPlay text-white m-3">СЛЕДЕЋИ ПОЈАМ</button>
        </div>
    </div>

    <script>

        var demo = document.querySelector("#demo");
        var box = document.querySelector('.box');
        var one = document.querySelector('.one');
        var two = document.querySelector('.two');
        var three = document.querySelector('.three');
        var four = document.querySelector('.four');
        var five = document.querySelector('.five');
        var six = document.querySelector('.six');
        var seven = document.querySelector('.seven');
        var eight = document.querySelector('.eight');
        var nine = document.querySelector('.nine');
        var ten = document.querySelector('.ten');

        var jedan = document.querySelector('.jedan');
        var dva = document.querySelector('.dva');
        var tri = document.querySelector('.tri');
        var cetri = document.querySelector('.cetri');
        var pet = document.querySelector('.pet');
        var sest = document.querySelector('.sest');
        var sedam = document.querySelector('.sedam');
        var osam = document.querySelector('.osam');
        var devet = document.querySelector('.devet');
        var deset = document.querySelector('.deset');
        var count = 1;
        // var// check = document.querySelector('.btn');
        var play = document.querySelector('.btnPlay');
        var sigma = document.querySelector('.saldo');
        var first = document.querySelector('.btnFirst');
       
        var niz = [];
        console.log(niz);
        //  // check.disabled = true;
        play.disabled = true;

        createTable();


        var boxes = document.querySelectorAll('.newDiv');
        var counter = 27;
        var counter1 = 27;
            var counter2 = 27;
            var counter3 = 27;
            var counter4 = 27;
            var counter5 = 27;
            var counter6 = 27;
            var counter7 = 27;
            var counter8 = 27;
            var counter9 = 27;
            var counter10 = 27;
        for (let i = 0; i < boxes.length; i++) {

            boxes[i].addEventListener('click', insertImage);

            function insertImage() {
                var test = document.querySelector('.input0');
                this.style.background = "none";
                counter = counter - 3;
                demo.innerHTML = counter;
                test.focus()
                //        // check.disabled = false;

            }
        }
        function createTable() {

            var text = '';
            for (var i = 0; i < 24; i++) {
                text += '<div class="newDiv"></div>'
            }
            box.innerHTML = text;
            box.style.backgroundImage = "url('plant/p" + count + ".jpg')";

        }
var n = 0;

var validation = (function(n) {
  return function() {
    n += 1;
    return n;
  }
}(0))
//        first.addEventListener('click', validation1);


        function validation1() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();
            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
    case "ЈАБУКА":
    console.log("RAdiRadi");
    break;
  default:
      console.log('Ne radi');
    // code block
}

        }
        play.addEventListener('click', newPlay);
        function newPlay() {
            // check.disabled = false;
            play.disabled = true;
            var input = document.querySelector('.input0');
            input.value = "";
            // check.disabled = true;
            play.disabled = true;

            createTable();


            var boxes = document.querySelectorAll('.newDiv');
        

            for (let i = 0; i < boxes.length; i++) {

                boxes[i].addEventListener('click', insertImage);

                function insertImage() {
                    var test = document.querySelector('.input0');
                    this.style.background = "none";
                    counter1 = counter1 - 3;
                    counter2 = counter2 - 3;
                    counter3 = counter3 - 3;
                    counter4 = counter4 - 3;
                    counter5 = counter5 - 3;
                    counter6 = counter6 - 3;
                    counter7 = counter7 - 3;
                    counter8= counter8 - 3;
                    counter9 = counter9 - 3;
                    counter10 = counter10 - 3;
                    demo.innerHTML = counter1;
                    demo.innerHTML = counter2;
                    demo.innerHTML = counter3;
                    demo.innerHTML = counter4;
                    demo.innerHTML = counter5;
                    demo.innerHTML = counter6;
                    demo.innerHTML = counter7;
                    demo.innerHTML = counter8;
                    demo.innerHTML = counter9;
                    demo.innerHTML = counter10;
                    test.focus()
                    // check.disabled = false;

                }
            }
            function createTable() {
                newCount = count + 1;
                var text = '';
                for (var i = 0; i < 24; i++) {
                    text += '<div class="newDiv"></div>'
                }
                box.innerHTML = text;
                box.style.backgroundImage = "url('plant/p" + newCount + ".jpg')";
                count++
            }
        }
 


        function validation2() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();
            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
  default:
      console.log('Ne radi');
    // code block
}
          
        }
        function validation3() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();

            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
  default:
      console.log('Ne radi');
    // code block
}

        }
        function validation4() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();

            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
  default:
      console.log('Ne radi');
    // code block
}
        }
        function validation5() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();

            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
  default:
      console.log('Ne radi');
    // code block
}
        }
        function validation6() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();


            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
  default:
      console.log('Ne radi');
    // code block
}
        }
        function validation7() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();

            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
  default:
      console.log('Ne radi');
    // code block
}
        }
        function validation8() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();

            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
  default:
      console.log('Ne radi');
    // code block
}
        }
        function validation9() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();

            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
  default:
      console.log('Ne radi');
    // code block
}
        }
        function validation10() {
            // check.disabled = true;
            play.disabled = false;
            var input = document.querySelector('.input0');
            var test = input.value.toUpperCase();

            switch(test) {
  case "JABUKA":
      console.log("Radi");
    // code block
    break;
  default:
      console.log('Ne radi');
    // code block
}
        }




    </script>
    <%- include ('../partials/footer') %>